pandas
openpyxl
seaborn
httpx[http2]==0.27.2
tenacity
beautifulsoup4
tweepy
adjustText
google-cloud-logging
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
lxml
matplotlib
numpy
db-dtypes
python-bcb